# Arquivos auxiliares do LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.lof
*.lot
*.gz
*.nav
*.snm
*.synctex.gz
*.pdfsync
*.xdv
*.synctex
*.dvi
*.ps
*.pdf
*.glg
*.glo
*.gls
*.ist
*.acn
*.acr
*.alg
*.glsdefs
*.run.xml
*.bcf
*.idx
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc*
*.mlf
*.out.ps
*.spl
*.xdy
*.thm
*.tdo
*.upa
*.upb
*.vrb
*.nav
*.snm
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.pdf
# Pastas auxiliares
_build/
latex.out/

# Python e Jupyter
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Ambientes virtuais
.venv/
venv/

# Build de executaveis (PyInstaller/Nuitka)
build/
dist/
*.spec

# Metadados de empacotamento
*.egg-info/
.eggs/
pip-wheel-metadata/
